<h1 style="padding: 20px;"> Company Area </h1>
<div class="card mt-5" style="padding: 20px;">
    <form #companyData="ngForm" (ngSubmit)="addCompany(companyData)">

      <div class="form-group">
        <label for="companyID"> Company ID </label>
        <input name="companyID" class="form-control" type="number" placeholder="enter company ID"
        [(ngModel)]="companyObj.companyID" required>
      </div>

      <div class="form-group">
        <label for="companyName"> Company Name</label>
        <input name="companyName" class="form-control" type="text" placeholder="enter company name" [(ngModel)]="companyObj.companyName" required>
      </div>

      <div class="form-group">
        <label for="companyCEO"> Company CEO</label>
        <input name="companyCEO" class="form-control" type="text" placeholder="enter company ceo"
        [(ngModel)]="companyObj.companyCEO" required>
      </div>

      <div class="form-group">
        <label for="turnover"> Company turnover</label>
        <input name="turnover" class="form-control" type="number" placeholder="enter company turnover" [(ngModel)]="companyObj.turnover" required>
      </div>

      <div class="form-group">
        <label for="website"> Company website</label>
        <input name="website" class="form-control" type="text" placeholder="enter company website"
        [(ngModel)]="companyObj.website" required>
      </div>
      

      <div class="form-group">
        <input type="submit" value="Add Company" class="btn btn-secondary w-100">
      </div>

    </form>

</div>

<hr>
<h1>See the company list below:</h1>
<div class="mt-5">
    <button type="button" (click)="getCompanyList()" class="btn btn-primary"> View Companies</button> <br>
    <table class="table table-bordered mt-3">
        <thead class="thead">
            <tr>
                <th>Company ID</th>
                <th>Company Name</th>
                <th>Company CEO</th>
                <th>Company turnover</th>
                <th>Company Website</th>
                <th>Stock Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

        </thead>
        <tbody class="tbody">
            <tr *ngFor="let company of companyArray">

                <td> {{company.companyID}} </td>
                <td> {{company.companyName}} </td>
                <td> {{company.companyCEO}} </td>
                <td> {{company.turnover}} </td>
                <td> {{company.website}} </td>
                <td> {{company.stockPrice}} </td>
                <td> <button type="button" class="btn btn-primary"> Update </button></td>
                <td> <button type="button" class="btn btn-danger" (click)="deleteCompany(company.companyID)"> Delete </button></td>
            </tr>
        </tbody>
    </table>
</div>


<br><br>
<hr>
<h1>Searching for a company: </h1>
<div id="searchDiv" class="mt-1" style="padding: 20px;">
    <input type="number" [(ngModel)]="companym.companyID"> <br>
    <button type="button" class="btn btn-info mt-5" (click)="getCompanyByID(companym.companyID)"> 
        Search 
    </button>

    {{data}}

</div>

